
@{
    ViewData["Title"] = "Admin Page";
}

<h1>Admin Page</h1>
<h2>Only Admin can view this Page.</h2>


<h1>Show checkboxes:</h1>

<form action="/action_page.php">
    <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
    <input type="checkbox" name="vehicle2" value="Car"> I have a car<br>
    <input type="checkbox" name="vehicle3" value="Boat" checked> I have a boat<br><br>
    <input type="submit" value="Submit">
</form>